node_modules
.env
typechain
typechain-types
lazygit.exe
DummyOTCDesk.sol
package-lock.json

# Hardhat files
cache
artifacts

mnemonic.txt
deployments

coverage
node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

